.DS_Store
*.code-workspace
/assets/favor/
/assets/foldboxes/
/assets/secrets/
/legacy/
/__pycache__/*
/helper_scripts/
assets/chronicle writer.png
assets/chronicler.blend
assets/chronicler.blend1
assets/chronicler.mtl
assets/chronicler.obj
assets/chronicler1.blend
assets/chronicler1.blend1
assets/table.png
assets/Untitled-2.svg
assets/UV Art.png
assets/UV.png
assets/UV.psd
